.faq h2 {
    font-size: 3rem;

}

.faq p {
    font-size: 2rem;
}

.faq {
    width: 100%;
  
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    
}

@media screen and (max-width: 990px) {
    .faq h2 {
        font-size: 2.5rem;
    }

    .faq p {
        font-size: 15px;
        text-align: center;
    }

    .faq {
        text-align: center;
        padding: 30px 30px;
    }
}

@media screen and (max-width: 780px) {
    .faq h2 {
        font-size: 2.5rem;
    }

    .faq p {
        font-size: 15px;
        text-align: center;
    }

    .faq {
        text-align: center;
        padding: 30px 30px;
    }
}