 .terms-title{
   font-size: 40px;
   font-weight: 900;
 }
 
 .terms-article {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
 }


 @media screen and (max-width: 780px) {
   .terms-title{
      font-size: 25px;
      
    }
 }