
.hero-content{
    max-width: 90rem;
}

.banner-image{
    border-radius: 30px 30px 30px 30px; 
}

.banner-duel-img{
    background-image: linear-gradient(to right top, #ffffff, #d0d4e0, #9aadc1, #5d899f, #006778);
}

.rel:hover{
    color: #fff;
}

